* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12rem;
  width: 100%;
}

.section-one {
  display: flex;
  gap: 2rem;
}

#bg-container {
  height: 200px;
  width: 200px;
  border: 1px solid red;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
